:root{
    --primary-color: #1f2937;
    --secondary-color: #3882f6;
    --primary-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Nav bar */
html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section1 {
    background-color: var(--primary-color);
    /* margin: auto; */
}


@media screen and (max-width: 800px) {
    .parent-container {
        height: 100svh;
    }
}

.parent-container {
    margin: auto;
}

@media screen and (min-width: 801px) {
    .parent-container {
        padding: 1rem 6rem;
    }
}

@media screen and (min-width: 1000px) {
    .parent-container {
        height: 70svh;
        max-height: 600px;
    }
}

@media screen and (max-width: 800px) {
    .parent-container {
        padding: 1rem 1rem;
    }
}

.section{
    width: 100%;
    max-width: 1300px;
    margin: auto;
   
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: #111;
    height: 100svh;
    z-index: 9999;
    transition: width 0.5s ease;

}

.mobile-navlinks{
    margin-top: 4rem;
}

.mobile-navlinks a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.mobile-navlinks li {
    display: block;
    transition: 0.3s;
}


.mobile-nav-toggle-button {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 32px;
    cursor:pointer
}

@media screen and (max-width: 800px) {
    .mobile-nav-toggle-button {
        display: block;
      }
}

.mobile-nav-close-button{
    position: absolute;
    left: 1rem;
    font-size: 32px;
    color: #fff
}


.mobile-header-logo{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
}
@media screen and (max-width: 800px) {
    .mobile-header-logo {
        display: block;
      }
}

nav.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}

@media screen and (max-width: 800px) {
    nav.navbar {

        display: none;
    }
}

nav.navbar  .header-logo {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

nav.navbar ul {
    display: flex;
    gap: 2rem;
    color: var(--secondary-text-color);
}

nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:visited{
    color: var(--secondary-text-color);
}

nav.navbar ul li {
list-style-type: none;
}

.hero-stuff-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 0;
    width: 100%;
    align-items: center;
}


@media screen and (max-width: 1000px) {
    .hero-stuff-wrapper {
        justify-content: center;
        align-items: center;
    }
}

.hero-stuff-wrapper .hero-text-wrapper{
    flex-basis: 400px;
    flex-grow: 2;
}

@media screen and (max-width: 1000px) {
    .hero-stuff-wrapper .hero-text-wrapper {
        flex: auto;
    }
}


.hero-text-wrapper button {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
    .hero-text-wrapper {
        padding-bottom: 1rem;
    }
}

.hero-stuff-wrapper .hero-image-wrapper{
    flex-basis: 400px;
    flex-grow: 1;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .hero-stuff-wrapper .hero-image-wrapper {
        flex: auto;
    }
}

.hero-stuff-wrapper div img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.hero-stuff-wrapper h1 {
    font-weight: 700;
    font-size: clamp(2rem, 1rem + 5vw, 3rem);
    color: var(--primary-text-color);
    margin: 0;
}   

.hero-stuff-wrapper p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-text-color);

}


.section2 {
    /* background-color: var(--primary-color); */
}